$background-color: #fff;
$shadow: #ccc;
$primary-light: #fafafa;
$secondary-light: #eaeaea;
$tertiary-light: #dce1ec30;
$primary-dark: #111;
$secondary-dark: #000;
$correctSize: #00d1b2;
$wrongSize: red;
$neutralInputSize: #dbdbdb;
$activeState: dodgerblue;

:root {
	--background-color: #{$background-color};
	--shadow: #{$shadow};

	--primary-light: #{$primary-light};
	--secondary-light: #{$secondary-light};
	--tertiary-light: #{$tertiary-light};

	--primary-dark: #{$primary-dark};
	--secondary-dark: #{$secondary-dark};

	--correctSize: #{$correctSize};
	--wrongSize: #{$wrongSize};
	--neutralInputSize: #{$neutralInputSize};

	--activeState: #{$activeState};
}
