@use './abstract/fonts.scss';
@use './abstract/colors.scss';

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-weight: 200;
	font-family: var(--font);
	color: var(--primary-dark);
	background: var(--background-color);
	text-rendering: optimizeLegibility;
	height: 100vh;
}

#app {
	z-index: 1;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#app-background {
	border-radius: 0.5rem;
	box-shadow: 5px 5px 15px var(--shadow);

	&:before {
		left: -2px;
		right: -2px;
		top: -2px;
		bottom: -2px;
		content: '';
		z-index: -1;
		position: absolute;
		background: var(--shadow);
		transform: skew(4deg, 2deg);
	}
}

#card-input {
	box-shadow: unset;
}

.input {
	color: var(--secondary-dark);
}

.control.has-icons-left {
	& > .icon {
		color: var(--tertiary-light);
		border-color: var(--tertiary-light);
		border-right: 1px solid var(--tertiary-light);
	}

	& > .input {
		padding-left: 4rem;
	}
}

.line {
	height: 15vh;
	transform: skewY(-30deg);
	z-index: -1;

	animation-name: fadeIn;
	animation-fill-mode: forwards;

	&:nth-child(3) {
		transform-origin: -60%;
		animation-duration: 1s;
	}

	&:nth-child(4) {
		transform-origin: -50%;
		animation-duration: 2s;
	}

	&:nth-child(5) {
		transform-origin: -40%;
		animation-duration: 3s;
	}
}

@keyframes fadeIn {
	from {
		background: white;
	}
	to {
		background: whitesmoke;
	}
}

.container.is-fluid {
	z-index: 1;
}
